- rule: '*'
  enabled: false
- rule: f7eadea871960968
  enabled: true
- rule: d02e2eb78f0ff3b4
  enabled: true
- rule: b1d9ece967912f1c
  enabled: true
- rule: a08e24d9155e2f5c
  enabled: true
