- rule: '*'
  enabled: false
- rule: 7ac97a55ff9b47c8
  enabled: true
- rule: 397081c4258773d1
  enabled: true
- rule: a37ff381f87c49e3
  enabled: true
