- rule: '*'
  enabled: false
- rule: f169b79b650c81ee
  enabled: true
- rule: c322bc8ad878cca8
  enabled: true
- rule: e7ded0e32f745546
  enabled: true
