- rule: '*'
  enabled: false
- rule: 0b8d60ce1b8155f8
  enabled: true
- rule: f7eadea871960968
  enabled: true
- rule: cf934dc15544cfa2
  enabled: true
