- rule: '*'
  enabled: false
- rule: 08ffb33b51ce9dd6
  enabled: true
- rule: eb808b80935652d6
  enabled: true
- rule: cf934dc15544cfa2
  enabled: true
