- rule: '*'
  enabled: false
- rule: c21c58ba5e91d0c6
  enabled: true
- rule: 3ac742c807fd9c27
  enabled: true
- rule: f37f3cbe4c7c9b10
  enabled: true
- rule: 4df97bead45bc844
  enabled: true
