- rule: '*'
  enabled: false
- rule: c21c58ba5e91d0c6
  enabled: true
- rule: a586c9b617a6d998
  enabled: true
- rule: 8997b6b881960090
  enabled: true
