- rule: '*'
  enabled: false
- rule: 0ac51b2f5bf779aa
  enabled: true
- rule: b1d9ece967912f1c
  enabled: true
- rule: cf934dc15544cfa2
  enabled: true
