- rule: '*'
  enabled: false
- rule: 029bd16d63f81a56
  enabled: true
- rule: c322bc8ad878cca8
  enabled: true
- rule: 5e87dc02d937835e
  enabled: true
