- rule: '*'
  enabled: false
- rule: c21c58ba5e91d0c6
  enabled: true
- rule: a586c9b617a6d998
  enabled: true
- rule: 5004b2a4db64e478
  enabled: true
