- rule: '*'
  enabled: false
- rule: d584f662a90176de
  enabled: true
- rule: 30c5e7be96881a14
  enabled: true
- rule: c10790cd2aca029b
  enabled: true
- rule: f37f3cbe4c7c9b10
  enabled: true
